<%- include('partials/header'); -%>

        <div class="body">
            <% posts2.slice().reverse().forEach(function(post){ %>
                <% let postID = post._id; %>
                <% let first = "/posts/"; %>
                <% let postUrl = first.concat(postID); %>
            <a class="posts"  href= <%= postUrl %> >        
                <div class='postsTitles'>
                    <%= post.title %>
                </div>
                <% let str = post.matter; %>
                <% let str2 = str.substring(0, 300); %>
                <% if(str.length < 200){ %>
                <%= str2 %>
                <% } %>
                <% if(str.length > 200) { %>
                <% let str3 = str2.concat('','...'); %>
                <%= str3 %>
                <% } %>
            </a>
            <%  }); %>
            <a href="/compose" class='add'>+</a>
        </div><br><br>


<%- include('partials/footer'); -%>
   